<head>
    <title>HTML Parser</title>
    <meta charset="utf-8">
    <link rel='shortcut icon' type='image/x-icon' href='/images/favicon.ico' />
    <link rel="stylesheet" href="/styles/common.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/links.css">
    <link rel="stylesheet" href="/styles/parsedLinks.css">
    <script src="/scripts/saveToCsv.js"></script>
</head>
