package.json
package-lock.json
.gitconfig

api-docs/*
!api-docs/SSP.postman_collection.json

src/api-docs/*
!src/api-docs/.gitkeep

**/*.svg
**/*.yml
**/*.css
**/*.db
**/*.sql
pg_db
pg_db_scripts
.gitignore
.prettierignore
.prettierrc
.gitlab-ci.yml
